{% autoescape off %}
<html>
<style>
    .button-reset{
        padding: 10px;
        display: inline;
        border-radius: 2px;
        font-family: "Arial";
        border: 0;
        margin: 0 10px;
        background: blue;
        font-size: 15px;
        line-height: 15px;
        color: white;
        width: auto;
        height: auto;
        box-sizing: content-box;
    }
    a, u {
        text-decoration: none;
    }
    .card {
        position: relative;
        margin: .5rem 0 1rem 0;
        background-color: #eee;
        -webkit-transition: -webkit-box-shadow .25s;
        transition: -webkit-box-shadow .25s;
        transition: box-shadow .25s;
        transition: box-shadow .25s, -webkit-box-shadow .25s;
        border-radius: 2px;
        padding: 5px;
    }
</style>
<body>
    <div class='card' style="width: 90%;">
    <p>
        <h3>Hello {{ name }},</h3>
        <p>Verify your email address</p>
        <span style="font-size: small">Click the button below to complete the account creation process.</span>

    </p>

    <a href="{{ url }}"><span class="button-reset">VERIFY YOUR EMAIL ADDRESS</span></a>
        <p style="font-size: smaller; padding-left: 10px;">*This link will be active for next {{ expiry }} hr(s).</p>

    <!--<p>
    If the link above doesn't work, you can copy and paste the following into your browser:<br>
    <a href="{{ url }}">{{ url }}</a>
    </p>
        <br>
    <hr/>
    <p>-->
        <p>
            If you are having a problem with your account, please email <a target="_blank" href = "mailto:{{ contact_mail }}">{{ contact_mail }}</a>
        </p>
    Sincerely, <br>
    {{ platform_name }} Team
    </p>
        </div>
</body>
</html>
{% endautoescape %}
